<ion-view title="About yourself">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="name / handle">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 37px;"></div>
            <label class="item item-input">
                <input type="email" placeholder="email">
            </label>
            <div class="spacer" style="width: 300px; height: 32px;"></div>
            <label class="item item-input">
                <input type="password" placeholder="password">
            </label>
            <a href="#/page2" class="button button-stable button-icon  icon-left ion-android-arrow-back"></a>
            <a href="#/page1/page4" class="button button-stable button-icon  icon-right ion-android-arrow-forward"></a>
        </form>
    </ion-content>
</ion-view>