<ion-view title="About your furry friend">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <div>
                <p>
                    And finally, would you like to say a few words of praise for your furball?
                </p>
            </div>
            <label class="item item-input">
                <span class="input-label"></span><textarea placeholder="{{petname}} is really cool and playful. She is very calm and comfortable around other dogs and kids. She loves playing fetch "> </textarea>
            </label>
        </form>
        <div>
            That's it. We are all done here!
        </div>
        <button class="button button-energized button-block ">Get me listed!</button>
    </ion-content>
</ion-view>