<ion-view title="About yourself">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                First, let's get a mugshot of that pretty face!
            </p>
        </div>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; width: 100%; height: auto; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
        <div>
            <p>
                Awesome!
            </p>
        </div>
        <a href="#/page1" class="button button-stable button-icon  icon-right ion-android-arrow-back"></a>
        <a href="#/page3" class="button button-stable button-icon  icon-right ion-android-arrow-forward"></a>
    </ion-content>
</ion-view>