<ion-view title="Account ">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                Find pets in a
                <span></span>mi. radius
            </p>
        </div>
        <form class="list">
            <label class="item item-select">
                <span class="input-label">Select</span>
                <select></select>
            </label>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <ion-toggle toggle-class="toggle-energized">Inform me when new members join</ion-toggle>
        </form>
    </ion-content>
</ion-view>