<ion-view title="Login">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <input type="text" placeholder="username">
                </label>
            </ion-list>
            <div class="spacer" style="width: 300px; height: 13px;"></div>
            <label class="item item-input">
                <input type="text" placeholder="password">
            </label>
            <button class="button button-balanced button-block ">Log in</button>
            <a href="#/page6" class="button button-calm button-clear button-small">Forgot password?</a>
            <a href="#/page2" class="button button-energized button-clear button-small">New here? Signup!</a>
        </form>
    </ion-content>
</ion-view>