<ion-view title="Password reset">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div>
            <p>
                We will email you a temp password to your registered email address.
            </p>
        </div>
        <form class="list">
            <label class="item item-input">
                <input type="text" placeholder="Enter email">
            </label>
        </form>
        <button class="button button-stable button-block ">Reset Password</button>
        <div>
            An email with a temporary password has been sent to this email address
        </div>
    </ion-content>
</ion-view>